body{
    margin: 0;
    text-align: center;
    background-color: rgb(45, 133, 45);
}
a{
    text-decoration: none;
}
button{
    padding: 20px;
}  
#starterCanvasDiv{
    display: none;
    background-color: rgb(45, 133, 45);
} 
#mainCanvasDiv{
    display: none;
    background-color: rgb(45, 133, 45); 
}
#secondaryCanvasDiv{
    display: none;
    background-color: rgb(45, 133, 45);
}
#buttonsDiv{
    display: none;
    text-align: center;
    position: relative;  
    bottom: 250px; 
}
#startButtonDiv{
    display: none;
    position: absolute;
    bottom: 43%; 
    right: 35%;
    height: 15%;
    width: 30%; 
}
#start{
    height: 100%; 
    width: 100%; 
}
#start:active{
    box-shadow: inset 4px 8px 16px;
}
#endButtonDiv{
    display: none;
    position: absolute;
    bottom: 43%; 
    right: 35%;
    height: 15%;
    width: 30%; 
}
#flowerBtn{  
    font-size: 12px;
    padding: 4px 10px; 
    /* background-image: linear-gradient(90deg, rgb(255, 0, 195), rgb(106, 6, 106), rgb(142, 15, 164), rgb(90, 41, 128), rgb(100, 8, 176)); */
}
button{
    border-radius: 70px;       
    border: none; 
    background-color: orange; 
    box-shadow: inset 2px 4px 8px black; 
    margin: 3px;
    font-family: Nunito; 
}
#newFlowerDiv{
    display: none;
    position: absolute;
    top: 17%;
    left: 2%;
}
button:active{
    box-shadow: inset 4px 8px 16px;
}
.positionHeader{                                /*for header sticky nav bar CSS style*/
    display: grid;
    grid-template-areas: 
    "pos1 pos1 pos1 pos1 pos2"
    "pos3 pos3 pos3 pos3 pos3";
    align-items: center;
    position: sticky; 
    position: -webkit-sticky;
    right: 0; 
    left: 0;
    top: 0;
    z-index: 2; 
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}
.posHeaderImg{
    width: 70%; 
    cursor: pointer; 
    margin-bottom: 10px;
} 
.posThreeLines{
    width: 40%;
    height: 40%;
    cursor: pointer;
} 
.pos1{
    grid-area: pos1; 
    padding: 20px 0 10px 40px;
    text-align: start;
} 
.pos2{
    grid-area: pos2; 
    text-align: end;
    padding-right: 40px;
} 
.pos3{
    grid-area: pos3;
}
.gameListText{
    padding: 20px;
    cursor: pointer; 
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: normal;
    font-size: 30px; 
}
.gameListTextHome{
    padding: 20px;
    cursor: pointer; 
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: normal;
    font-size: 30px; 
    position: relative; 
    top: 20px; 
}
.gameListGame{
    padding: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: normal; 
    font-size: 30px;
}
.hiddenMenu{
    text-align: start;
    flex-direction: column;
    display: none;
    height: 450px; 
    overflow-x: hidden;
    overflow-y: scroll; 
    padding-left: 40px;
    border-bottom: 1px solid lightgray;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge stops scroll bar*/
    scrollbar-width: none;  /* Firefox stops scroll bar*/ 
    z-index: 2;
}
.listPic{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 10px;
} 
.listPicTrivia{
    height: 50px;
    width: 100px; 
    position: relative;
    top: 10px;
    left: 10px;
} 
.hiddenMenu::-webkit-scrollbar { /*hides the scroll bar on selected element.*/
    display: none;
}
details > summary{  /*gets rid of the details list arrow*/
    list-style: none;
}
details > summary::-webkit-details-marker { /*gets rid of the details list arrow*/
    display: none;
}
.navDetails{
    position: relative; 
    right: 37px;
} 
.gameItem{
    padding-left: 40px;
} 
.detailsArrow{
    height: 50px;
    width: 70px; 
    position: relative;
    left: 5px;
    top: 10px; 
}  