body{
  margin: 0;
  text-align: center;
  background-color: rgb(45, 133, 45);
}
a{
  text-decoration: none;
}
#starterCanvasDiv{
  display: none;
  background-color: rgb(45, 133, 45);
}
#starterCanavasActual{
  border: solid 2px; 
} 
#mainCanvasDiv{
  display: none;
  background-color: rgb(45, 133, 45); 
  width: 352px;
  margin: auto;
  position: relative;
}
#myCanvasActual{
  border: solid 2px;
}
#secondaryCanvasDiv{
  display: none;
  background-color: rgb(45, 133, 45);
}
#buttonsDiv{
  display: none;
  text-align: center;
}
#startButtonDiv{
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10%; 
  translate: -50% 0; 
}
#start{
  height: 100%; 
  width: 100px; 
}
#start:active{
  box-shadow: inset 4px 8px 16px;
}
#endButtonDiv{
  display: none;
  position: absolute;
  bottom: 43%; 
  right: 35%;
  height: 15%;
  width: 30%; 
}
#flowerBtn{  
  font-size: 12px;
  padding: 4px 10px; 
  /* background-image: linear-gradient(90deg, rgb(255, 0, 195), rgb(106, 6, 106), rgb(142, 15, 164), rgb(90, 41, 128), rgb(100, 8, 176)); */
}
button{
  border-radius: 70px;  
  padding: 10px;   
  margin: 5px;  
  border: none; 
  background-color: orange; 
  box-shadow: inset 2px 4px 8px black; 
  font-family: Nunito; 
}
#newFlowerDiv{
  display: none;
  position: absolute;
  top: 13%;
  left: 1%;
}
button:active{
  box-shadow: inset 4px 8px 16px;
}